
/*general*/
* { box-sizing:border-box;}


html,body{

	 font-family: 'Noto Serif', serif;
	 font-size: 16px;
	 background-color: #fbfca9;
}
footer{
	background-color: #a0cf79;
}

.margin-items-foot{
margin-top: 45px;
}

.row{
	margin:0;
}
.colortext{
	color:#972832;
}
.align-text{
	text-align: center;
}

.setting-img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
/*header*/
#figu-log{
	text-align: center;
}

#i-menu-mov{
	background-color: #e7e876;
	margin:auto;
	margin-top: 2.5px;
}

#img-logo{
	margin: auto;
}



#header-page{
	height: 50px;
	width: 100%;
	border-bottom: 10px solid #972832;
	background-color: #e7e876;
}

#items-menu-mov{
/*display: none;*/
padding: 0;
margin:0;
display: flex;
justify-content: space-between;

}
#items-menu-mov a{
	
	padding:5px 10px 5px 10px;
	text-align: left;
	color:#ffff00;
	text-decoration: none;
	margin-top: 6px;
	font-size: 0.9rem;
}
#items-menu-mov li{
	
    padding: 0;
    list-style-type: none;
    
}

#items-menu-mov li a:hover{
	background: rgba(255,255,255,0.2);
}
#active-inicio a{
	background: rgba(255,255,255,0.2);
}


/*main*/
#welcome,#N-menu,#event-prox,#cocteles{
	background-color: #fbfca9;

}

#lineawel,#lineBottomPa{
	        height: 5px;
			width: 200px;
			margin:auto;
			background-color: #009045;
		}
#lineBottomPa{
	width: 100%;
}

.lineaSection{
		    
		    height: 5px;
			width: 200px;
			margin:auto;
			background-color: #009045;
			margin-bottom: 20px;
		}

#barra-m-e-c{
	background-color: #972832;
	height: 12px;
	margin-top: 80px;
	margin-bottom: 20px;
}

/*promo*/

#promo{
	background-color: #fbfca9;
}
#btn-escr{
            
			border:5px solid #009045;
			height: 42px;
			width: 196px;
			margin:auto;
			margin-bottom: 20px;
			background-color: #fbfca9;
		}
.num-cel{
	font-size: 1.875rem;
}

/*footer*/

#correorm{
	margin-top: 45px;
}

#itwitter{
			margin-left: 35px;
		     }
#ifacebook{
			margin-right: 35px;
		      }

#iconosSocial{
	padding: 0;
	line-height: 60px;
	
}
#iconosSocial li a{
	color:#000;
}
#iconosSocial li{
list-style-type: none;

display: inline-block;

}

#direc a{
color:#000;	
}

@media screen and (max-width: 768px){

	html,body{
 background-color: #fbfca9;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#btn-menu{
			display: none;
		}
		#bars{
			cursor: pointer;
			position: absolute;
			right: 25px;
			top: 4px;
		}
		.menu-mo{          /*K*/
			display: block;
			position: absolute;
			top: 50px;
			left: 0;
			width: 100%;
			transform: translateX(-100%);
           transition: all 0.3s;
			
			
		}
		.menu-mo ul{
			padding: 0;
		}
		.menu-mo li{    /*k*/
			background: #adcd90;
			 padding: 10px 0 10px 0;
			 text-transform: uppercase;
			 list-style-type: none;
			 text-decoration: none;
		}
		.menu-mo li:hover{    /*K*/
			background: rgba(0,0,0,0.5);
		}
		.menu-mo a{           /*K*/
		    color: #fff;
		    text-decoration: none;
		    margin-top: 5px;
		    margin-left: 10px;

		}
       #btn-menu:checked ~ .menu-mo {        /*K*/
          transform: translateX(0%);
          
       }

       #bar-search-Check{
			display: none;
		}
		#bar-search{
			width: 100%;
			position: absolute;
			top:50px;
			left: 0;
			height: 40px;
			background-color: rgba(231,232,118,0.8);		
			color:#000;
			text-align: center;
			font-size: 1rem;
			transform: translateX(-100%);
            transition: all 0.3s;

		}
		#bar-search-Check:checked ~ #bar-search{
			transform: translateX(0%);
		}

		#search-bars{
			cursor: pointer;
			position: absolute;
			right: 135px;
			top: 2px;
		}
/*=========================================================================*/

.banner_mov{
	background: url("../images/bannermovil.jpg") center center;
	background-size: cover;
	width: 100%;
	max-width: 100%;
	height: 265px;

}

    .FStitles{
    	font-size: 2rem;
    	margin: 20px 0 10px 0;

    }
	.FSparrafos{
		font-size: 1.2rem;
		margin-top: 10px;
	}
	.FSsubtitles{
		font-size: 1.75rem;
	}
	#pWel{
		font-size: 1rem;
	}

    /*main*/ 

    #video-cocina{
	width: 100%;
	height: auto;
}

    #N-menu{
    margin-top: 80px;
    }
   #event-prox,#cocteles{
	margin-top: 50px;
    }
    #promoCALL{
    	line-height: 35px;
    }



	#itwitter{
			margin-left: 35px;
		     }
    #ifacebook{
			margin-right: 35px;
		      }

}
@media screen and (max-width: 500px){
	   
.FSsubtitles{
		font-size: 1.55rem;
	}

}

@media screen and (max-width: 330px){


.FStitles{
    	font-size: 1.8rem;
    }
	.FSparrafos{
		font-size: 0.950rem;
	}
	.FSsubtitles{
		font-size: 1.55rem;
	}
}

@media screen and (min-width: 768px){


/*banner*/
#barra-banner{

	
	background-color: rgba(243,250,250,0.67);
	border-top: 4px solid #4fb382;
	border-bottom: 4px solid #4fb382;
	height: 100px;
    padding-top: 10px;

}

.col-sm-6{
	padding:0;
}


#wel{
	
	padding: 0 10px 0px 10px;
}
#videoContent{
border-left: 20px solid #fff;
}
.colordabarra{
	color: #ff0000;
	font-size: 1rem;
	margin: 0;
	line-height: 20px;
}
.numerotele{
	font-size: 1.8rem;
	margin: 0;
	margin-bottom: 6px;
	

}
#btn-escr{
	font-size: 1.125rem;
	border:5px solid #dfb365;
}

/*nav*/


#navegacion{
	
	height: 42px;
	background-color: #009045;
}
body{
	background-color: #fff;
}
#welcome{
	
	margin: 30px 10px 0 10px;
}


.content{
		width: 100%;
		margin:auto;
	}

	.content2{
		width: 100%;
		background-color: #fff;
		margin:auto;
	}
	html{
		background-color: #adcd90
	}	

	/*main*/
#lineawel{
	background-color: #dfb365;
	height: 8px;
	width: 100%;
}

	#pWel{
		margin-top: 10px;
	}
	#video-cocina{
	width: 100%;
	height: auto;
}
.banner_mov{
	background: url("../images/banner.jpg") center center;
	height: 415px;
    padding-top: 20px;

  }

/*Promo*/
#promoCALL{
	font-size: 1.5rem;
	font-weight: 700i;
}


  #header-page{
   display: none;
  }


.FSsubtitles{
	font-size: 1.25rem;
}
#N-menu,#event-prox,#cocteles{
	margin-top: 34px;
	margin-bottom: 34px;

}
#barrainfSections{
	width: 100%;
	height: 12px;
	background-color: #dfb365;
}

#promo{
	background-color: #fff;
}

/*footer*/
.flex-item-1 {
    order: 0;
}
.flex-item-2 {
    order: 1;
}
.flex-item-3 {
    order: 2;
}

#direc,#correorm{
		    line-height: 20px;
			font-size: 0.875rem;
			font-weight: 700;
			text-align:center;
			
}


#footersup{
	padding-top: 30px;
	height: 280px;
	display: flex;
}

footer{
	background: url("../images/imgfooter.jpg") center center;
			width: 100%;
			height: 280px;
			margin: 0;
}

#footersub{
	height: 45px;
	background-color: #009045;
	padding-top: 12px;
}
#footersub p{
	color:#ffff00;
}

}

@media screen and (min-width: 1000px){
    
#header-page{
	display: none;
}

	.banner_mov{
	background: url("../images/banner.jpg") center center;
	background-repeat: no-repeat;
	height: 415px;
              }

body{
	background-color: #ecfafa
}
#N-menu,#event-prox,#cocteles{
	margin-top: 34px;
	margin-bottom: 34px;

}

.FSsubtitles{
	font-size: 1.25rem;
}

#video-cocina{
	width: 100%;
	height: auto;
}
#welcome{
	margin: 30px 0 0 0;
}
	.content{
		width: 1024px;
		margin:auto;
	}
       .content2{
		width: 910px;
		margin:auto;
		background-color: #fff;
	}
	html{
		background-color: #adcd90
	}
	 #header-page{
               display: none;
              }

}




